html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: rgb(208, 212, 212);
}

.taskDone {
    text-decoration: line-through;
    font-family: 'Roboto Slab', serif;
}

.listItem--hide {
    visibility:hidden;
}

.taskList__button--inactive {
  border: none;
  background-color: white;
  color: rgb(158, 165, 165);
}

.taskList {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    box-shadow: 4px 4px 5px 0px #9E9E9E;
    font-family: 'Roboto Slab', serif;
}

.header {
    margin: 10px;
    font-family: 'Roboto Slab', serif;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(30px, 1100px);
}

.listItem {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 30px;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid rgb(202, 198, 198);
    padding: 4px;
    font-family: 'Roboto Slab', serif;
}

.header2 {
    border-bottom: rgb(185, 181, 181);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.list {
    margin: 0;
    padding: 0;
}

.form {
    display: grid;
    justify-content: center;
    grid-template-columns: 80% 20%;
    grid-template-rows: 30px;
    grid-gap: 10px;
}

.button {
    margin: 7px;
    background-color: rgb(19, 179, 19);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    border: none;
    padding: 10px;
    height: 20px;
    width: 20px;
    transition: 1s;
    font-family: 'Roboto Slab', serif;
}

.taskList__button:hover {
    color: rgb(165, 197, 195);
}

.button--thick {
    background-image: url(../images/tick.jpg);
}

.taskList__buttons {
    display: grid;
    grid-template-columns: 150px 160px;
    justify-content: right;
}

@media (max-width: 400px) {
    .taskList__buttons {
        display: grid;
        grid-template-columns: 150px;
        justify-content: center;
        grid-gap: 10px;
    }
}

.taskList__button {
    border: none;
    background-color: white;
    color: rgb(31, 128, 123);
    font-weight: bold;
    transition: 1s;
}

.newItemText {
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}

.button:hover {
    background-color: rgb(144, 230, 144);
}

.button--remove {
    background-color: red;
    background-image: url(../images/rubbish.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    transition: 1s;
}

.button--remove:hover {
    background-color: rgb(221, 170, 170);
}

.form__addButton {
    background-color: rgb(29, 128, 128);
    color: white;
    border: none;
    padding: 5px;
    Font-family: „arial”, sans-serif;
    transition: 1s;
}

.form__addButton:hover {
    background-color: rgb(65, 167, 167);
    transform: scale(1.1);
}

@media (max-width: 400px) {
    .form {
        display: grid;
        flex-direction: column;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-gap: 8px;
    }
}

.form__input {
    padding: 10px;
    border: 2px solid rgb(196, 196, 196);
    font-family: 'Roboto Slab', serif;
}